* {
    margin: 0;
    padding: 0;
   }
   
form {
  background-color: rgb(63, 63, 65);
  color:white;
  width: 500px;
  height: 550px;
    margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.registration {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  margin: 100px auto;
  padding: 20px;
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}